<div class="bg-secondary bg-opacity-25 p-2 d-flex justify-content-between">
  <a href="/flats" class="pt-2 align-middle text-decoration-none text-reset">Simple Airbnb</a>
  <%= link_to "Add a flat", new_flat_path(), class: "btn btn-outline-primary" %>
</div>
